@charset "UTF-8";

/* Importação de fonte de arquivo*/
@font-face { 
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype);
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../fontes/BebasNeue-Regular.ttf) format(truetype);
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2: 'Android', sans-serif;
}

body {
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    padding: 10px;
}

h1#titulo-principal {
    font: 400 3em var(--fonte1);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
    padding: 10px;
}

header > nav > a {
    font-family: var(--fonte0);
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;   
}

main {
    min-width: 400px;
    max-width: 800px;
}